@import "../utils/mixins";

h2.title {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-xxl);

    &--red {
        color: var(--red);
    }

    &--white {
        color: #fff;
    }

    &--s {
        font-size: var(--font-size-xl);
    }

    &--uppercase {
        text-transform: uppercase;
    }

    @include mediaScreenM {
        font-size: var(--font-size-lg);

        &--s {
            font-size: var(--font-size-lg);
        }
    }

    @include mediaScreenS {
        font-size: var(--font-size-m);

        &--s {
            font-size: var(--font-size-s);
        }
    }
}

button.btn {
    color: #fff;
    line-height: 1;
    font-size: var(--font-size-m);

    border: none;
    outline: none;
    padding: 27px 95px;
    border-radius: 45px;
    background-color: var(--red);

    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: var(--red-01);
    }

    &--s {
        font-size: var(--font-size-xs);
        padding: 16px 26px;
        border-radius: 40px;
    }
}

span.red {
    color: var(--red)
}

.container {
    margin: 0 auto;
    padding: 0 var(--indent-x);
    max-width: calc(var(--container-max-width) + var(--indent-x) * 2);
}

