{% load django_vite %}
{% load static %}

<section class="about container" id="about">
	<h2 class="title title--red title--uppercase about__title">{{ radio.title }}</h2>

	<div class="about__description text">
		<div class="text__row">
			<p>{{ radio.description }}</p>
		</div>
	</div>

	<div class="about__info text text--rows">
		{% for plaque in radio.plaques.all %}
			<div class="text__row">
				<p>{{ plaque.text }}</p>
			</div>
		{% endfor %}
	</div>

	<ul class="about__badges">
		{% for badge in radio.badges.all %}
			<li class="about__badge badge">
				<p class="badge__value">{{ badge.title }}</p>
				<p class="badge__name">{{ badge.caption }}</p>
			</li>
		{% endfor %}
	</ul>

	<div
		class="about__map"
		style="background-image: url('{{ radio.cover_desktop.url }}');"
	>
	</div>
</section>