{% load django_vite %}
{% load static %}

<section class="efficiency" id="efficiency">
	<div class="efficiency__top">
		<div class="efficiency__top-body container">
			<h2 class="title title--white">
				{{ efficiency.title }}
			</h2>

			<div>
				<p>{{ efficiency.signature }}:</p>
			</div>
		</div>
	</div>

	<div class="efficiency__bottom container">
		<div class="efficiency__benefits benefits">
			<ul class="benefits__list">
				{% for benefit in efficiency.benefits.all %}
					<li class="efficiency__benefit benefit">
						<p class="benefit__text">
							{{ benefit.content|safe }}
						</p>
					</li>
				{% endfor %}
			</ul>

			<a class="benefits__action btn-accent btn-accent--red" href="{{ efficiency.buttonLink }}"
			   target="_blank">
				{{ efficiency.buttonCaptionMobile|safe }}
			</a>
		</div>

		<div
			class="efficiency__banner banner"
		>
			<a class="banner__action btn-accent" href="{{ efficiency.buttonLink }}" target="_blank">
				{{ efficiency.buttonCaption|safe }}
			</a>

			<div
				class="banner__cover"
				style="background-image: url('{{ efficiency.coverDesktop.url }}');"
			>
			</div>
		</div>
	</div>
</section>