{% load django_vite %}
{% load static %}

<section class="efficiency" id="efficiency">
	<div class="efficiency__top">
		<div class="efficiency__top-body container">
			<h2 class="title title--white">
				Радио нашего города с гарантией эффективной рекламы
			</h2>

			<div>
				<p>у нас есть:</p>
			</div>
		</div>
	</div>

	<div class="efficiency__bottom container">
		<div class="efficiency__benefits benefits">
			<ul class="benefits__list">
				<li class="efficiency__benefit benefit">
					<p class="benefit__text">
						<span class="red">5 стратегий</span> эффективности
					</p>
				</li>
				<li class="efficiency__benefit benefit">
					<p class="benefit__text">
						<span class="red">50 способов</span> продвижения
					</p>
				</li>
				<li class="efficiency__benefit benefit">
					<p class="benefit__text">
						личные <span class="red">гарантии директора</span>
					</p>
				</li>
			</ul>

			<a class="benefits__action btn-accent btn-accent--red" href="https://radionashegogoroda.tilda.ws/"
			   target="_blank">
				Узнать больше...
			</a>
		</div>

		<div
			class="efficiency__banner banner"
		>
			<a class="banner__action btn-accent" href="https://radionashegogoroda.tilda.ws/" target="_blank">
				<span class="red">Узнать</span> больше...
			</a>

			<div
				class="banner__cover"
				style="background-image: url('{% static 'images/efficiency/ad-banner.png' %}');"
			>
			</div>
		</div>
	</div>
</section>