{% load django_vite %}
{% load static %}

<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__logo">
                <img src="{% static 'icons/general/logo.svg' %}"/>
            </div>

            <div class="footer__contacts contacts">
                <ul class="contacts__list">
                    <li class="contact">
                        <p class="contact__name">Адрес офиса:</p>
                        <a class="contact__value" href="https://yandex.ru/maps/-/CDTRQYyB" target="_blank">
                            610000, г. Киров, Октябрьский проспект 120, 6 этаж
                        </a>
                    </li>

                    <li class="contact">
                        <p class="contact__name">
                            Служба новостей/программный отдел:
                        </p>
                        <a class="contact__value" href="tel:+471029">
                            47-102-9
                        </a>
                    </li>

                    <li class="contact">
                        <p class="contact__name">
                            Редакция:
                        </p>
                        <a class="contact__value" href="mailto:mariafm@mail.ru">
                            mariafm@mail.ru
                        </a>
                    </li>

                    <li class="contact">
                        <p class="contact__name">
                            Рекламный отдел:
                        </p>
                        <a class="contact__value" href="mailto:mariafm@mariafm.ru">
                            mariafm@mariafm.ru
                        </a>
                    </li>
                </ul>

                <ul class="contacts__list">
                    <li class="contact">
                        <p class="contact__name">
                            Реклама на радио:
                        </p>
                        <a class="contact__value" href="tel:+79539472727">
                            +7 (953) 947-27-27
                        </a>
                    </li>

                    <li class="contact">
                        <p class="contact__name">
                            Viber WhatsApp Telegram:
                        </p>
                        <a class="contact__value" href="tel:+79128271029">
                            +7 (912) 827-102-9
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__basement">
                <p>
                    Подарки победителям выдаются в течение двух недель после даты выигрыша в рабочие дни, с понедельника
                    по пятницу с 9:00 до 17:30 по адресу офиса (кабинет 601).
                </p>
            </div>

            <div class="footer__map" id="footer-map">

            </div>
        </div>
    </div>
</footer>