{% load django_vite %}
{% load static %}

<footer class="footer container" id="footer">
	<div class="footer__logo">
		<img src="{% static 'icons/general/logo.svg' %}" />
	</div>

	<div class="footer__contacts contacts">
		<ul class="contacts__list">
			{% for link in linksForContact %}
				<li class="contact">
					<p class="contact__name">{{ link.caption }}:</p>
					<a class="contact__value" href="{{ link.url }}" target="_blank">
						{{ link.value }}
					</a>
				</li>
			{% endfor %}
		</ul>

		<ul class="contacts__list">
			{% for link in linksForAdvertising %}
				<li class="contact">
					<p class="contact__name">{{ link.caption }}:</p>
					<a class="contact__value" href="{{ link.url }}" target="_blank">
						{{ link.value }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<ul class="footer__files files">
		<li class="files__link">
			<a href="/files/polzovatelskoe_soglashenie.pdf" target="_blank">Пользовательское соглашение</a>
		</li>
		<li class="files__link">
			<a href="/files/soglasie_na_obrabotku_pers_dannykh.pdf" target="_blank">Согласие на обработку персональных данных</a>
		</li>
	</ul>

	<div class="footer__basement">
		<p>
			{{ footerCaption.formatted_caption }}
		</p>
	</div>

	<div class="footer__map" id="footer-map">
	</div>
</footer>