{% load django_vite %}

<header class="header">
    <div class="container">
        <div class="header__body">
            <div class="header__left">
                <div class="logo">
                    <img src="{% vite_asset_url 'icons/general/logo.png' %}"/>
                </div>

                <p class="header__radio-wave">102.9 FM</p>
            </div>

            <nav class="header__middle nav">
                <ul class="nav__links">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Новости</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">О радио</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Команда</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Школа медиа</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Проекты</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Контакты</a>
                    </li>
                </ul>
            </nav>

            <div class="header__right">
                <button class="btn btn--s">Закажи рекламу</button>
            </div>
        </div>
    </div>
</header>