<section class="container policy" id="policy">
	<div class="policy__inner">
		<p>
			Продолжая использовать наш сайт, вы даете согласие на обработку пользовательских данных (IP-адрес; версия
			ОС;
			версия веб-браузера; сведения об устройстве; разрешение экрана и количество цветов экрана; наличие
			программного
			обеспечения для блокирования рекламы; наличие Cookies; наличие JavaScript язык ОС и Браузера; время,
			проведенное
			на сайте; действия пользователя на сайте)
		</p>
		<button class="btn btn--s policy__accept">Согласен</button>
	</div>
</section>