{% load django_vite %}
{% load static %}

<section class="projects container" id="projects">
	<h2 class="title title--red title--uppercase">{{ aboutProjects.title }}</h2>

	<ul class="projects__list">
		{% for project in projects %}
			<li class="project__project project">
				<div class="project__cover">
					<div class="project__img"
						 style="background-image: url('{{ project.coverDesktop.url }}');">
					</div>
				</div>
				<div class="project__body">
					<p class="project__name">
						{{ project.title }}
					</p>
					<p class="project__description">
						{{ project.formatted_description|safe }}
					</p>
				</div>
			</li>
		{% endfor %}
	</ul>
</section>