{% load django_vite %}

<section class="school" id="school">
    <div class="container">
        <div class="school__body">
            <h2 class="title title--white title--uppercase">Школа медиа</h2>

            <div class="school__content">
                <div class="school__description">
                    <div class="school__text">
                        <p>
                            Школа МЕДИА действует в Кирове с 2015 года при поддержке радиостанции "Мария FM".
                            Имеет лицензию дополнительного образования.
                        </p>

                        <p>
                            Школа МЕДИА - это курсы для детей, подростков и взрослых по направлениям:
                            курсы по речи и ораторскому мастерству, школа блогеров,
                            медиакоммуникации/журналистика для школьников, курсы радиоведущих.
                        </p>
                    </div>

                    <a
                            class="btn"
                            target="_blank"
                            href="https://vk.com/im?media=&sel=-86542693"
                    >
                        Записаться
                    </a>
                </div>

                <div
                        class="school__image"
                        style="background-image: url('{% vite_asset_url 'images/school/cover.png' %}');"
                >
                </div>
            </div>
        </div>
    </div>
</section>