{% load django_vite %}
{% load static %}

<section class="school" id="school">
	<div class="school__body container">
		<h2 class="school__title title title--white title--uppercase">{{ mediaSchool.title }}</h2>

		<div class="school__description">
			{% for descr in mediaSchool.description_as_list %}
				<p>{{ descr }}</p>
			{% endfor %}
		</div>

		<a
			target="_blank"
			class="school__action btn"
			href="{{ mediaSchool.buttonLink }}"
		>
			{{ mediaSchool.buttonCaption }}
		</a>

		<div class="school__cover">
			<div class="school__img" style="background-image: url('{{ mediaSchool.coverDesktop.url }}');"></div>
		</div>
	</div>
</section>