{% load django_vite %}

<section class="team">
    <div class="container">
        <div class="team__body">
            <h2 class="title title--red title--uppercase">
                команда
            </h2>

            <ul class="team__peoples">
                <li class="team__people people">
                    <div class="people__avatar">
                        <img src="{% vite_asset_url 'images/team/mikhail-annenkov.png' %}" />
                    </div>
                    <p class="people__name">Михаил Анненков</p>
                    <p class="people__describe">
                        Генеральный директор радиостанции Мария FM 20 лет вдохновляет радио на развитие
                    </p>
                </li>

                <li class="team__people people">
                    <div class="people__avatar">
                        <img src="{% vite_asset_url 'images/team/vlad-smirnov.png' %}" />
                    </div>
                    <p class="people__name">Влад Смирнов</p>
                    <p class="people__describe">
                        Радиоведущий с 10-летним стажем, один из лучших голосов страны по итогам всероссийских конкурсов
                    </p>
                </li>

                <li class="team__people people">
                    <div class="people__avatar">
                        <img src="{% vite_asset_url 'images/team/alexey-batalov.png' %}" />
                    </div>
                    <p class="people__name">Алексей Баталов</p>
                    <p class="people__describe">
                        Бессменный ведущий утреннего шоу, больше 10 лет делает утро кировчан и жителей области душевнее
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>