{% load django_vite %}
{% load static %}

<section class="team container" id="team">
	<h2 class="title title--red title--uppercase">
		{{ crew.title }}
	</h2>

	<div class="team__carousel team-carousel">
		<div class="team-carousel__body" id="team-carousel">
			<ul class="team-carousel__container">
				{% for people in crew.members.all %}
					<li class="team-carousel__slide people">
						<div class="people__avatar">
							<img src="{{ people.avatar.url }}" />
						</div>
						<p class="people__name">{{ people.fullname }}</p>
						<p class="people__describe">
							{{ people.description }}
						</p>
					</li>
				{% endfor %}
			</ul>
		</div>

		<button class="team-carousel__btn-prev btn-ctrl btn-ctrl--prev" id="team-btn-prev">
			<img src="{% static 'icons/ctrl/arrow-left.png' %}">
		</button>
		<button class="team-carousel__btn-next btn-ctrl btn-ctrl--next" id="team-btn-next">
			<img src="{% static 'icons/ctrl/arrow-right.png' %}">
		</button>
	</div>
</section>