{% load django_vite %}
{% load static %}

<section class="team container" id="team">
	<h2 class="title title--red title--uppercase">
		команда
	</h2>

	<div class="team__carousel team-carousel">
		<div class="team-carousel__body" id="team-carousel">
			<ul class="team-carousel__container">
				<li class="team-carousel__slide people">
					<div class="people__avatar">
						<img src="{% static 'images/team/mikhail-annenkov.png' %}" />
					</div>
					<p class="people__name">Михаил Анненков</p>
					<p class="people__describe">
						Генеральный директор радиостанции Мария FM 20 лет вдохновляет радио на развитие
					</p>
				</li>

				<li class="team-carousel__slide people">
					<div class="people__avatar">
						<img src="{% static 'images/team/vlad-smirnov.png' %}" />
					</div>
					<p class="people__name">Влад Смирнов</p>
					<p class="people__describe">
						Радиоведущий с 10-летним стажем, один из лучших голосов страны по итогам всероссийских
						конкурсов
					</p>
				</li>

				<li class="team-carousel__slide people">
					<div class="people__avatar">
						<img src="{% static 'images/team/alexey-batalov.png' %}" />
					</div>
					<p class="people__name">Алексей Баталов</p>
					<p class="people__describe">
						Бессменный ведущий утреннего шоу, больше 10 лет делает утро кировчан и жителей области
						душевнее
					</p>
				</li>
			</ul>
		</div>

		<button class="team-carousel__btn-prev btn-ctrl btn-ctrl--prev" id="team-btn-prev">
			<img src="{% static 'icons/ctrl/arrow-left.png' %}">
		</button>
		<button class="team-carousel__btn-next btn-ctrl btn-ctrl--next" id="team-btn-next">
			<img src="{% static 'icons/ctrl/arrow-right.png' %}">
		</button>
	</div>
</section>