@mixin mediaScreenLG() {
	@media (max-width: 1200px) {
		@content
	}
}

@mixin mediaScreenM() {
	@media (max-width: 834px) {
		@content
	}
}

@mixin mediaScreenS() {
	@media (max-width: 390px) {
		@content
	}
}


@mixin aspect-ratio($width, $height) {
	height: 0;
	overflow: hidden;
	padding-top: calc(($width / $height) * 100%);
}