@import "../utils/mixins";

.about {
	display: grid;
	row-gap: 32px;
	column-gap: 24px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
			"title map"
			"description map"
			"info map"
			"badges map"
			". map";
	padding-top: 62px;
	padding-bottom: 62px;

	@include mediaScreenLaptop {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	@include mediaScreenWideLaptop {
		grid-template-areas:
				"title title"
				"description map"
				"info map"
				"badges map"
				". map";
	}

	@include mediaScreenWideTablet {
		row-gap: 26px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
				"title title"
				"description description"
				"badges info"
				"map map";
	}

	@include mediaScreenWidePhone {
		grid-template-columns: 1fr;
		grid-template-areas:
				"title"
				"description"
				"info"
				"badges"
				"map";
	}

	&__title {
		grid-area: title;
	}

	&__description {
		grid-area: description;
	}

	&__info {
		grid-area: info;
	}

	&__badges {
		grid-area: badges;

		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__map {
		grid-area: map;

		@include aspect-ratio(915, 1200);
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.text {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	column-gap: 24px;

	&__row {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		p {
			color: var(--black);
			font-size: var(--font-size-01);
			line-height: 26px;

			@include mediaScreenLaptop {
				font-size: var(--font-size-01);
			}
		}

		@include mediaScreenWideTablet {
			justify-content: flex-end;
		}

		@include mediaScreenWidePhone {
			justify-content: flex-start;
		}
	}

	&--rows {
		flex-direction: row;

		@include mediaScreenWideTablet {
			flex-wrap: wrap;
		}

		@include mediaScreenWidePhone {
			> * {
				flex: 1 1 0;
			}
		}
	}
}

.badge {
	--name-font-size: var(--font-size-02);
	--value-font-size: var(--font-size-04);

	color: var(--black);

	&__name {
		font-size: var(--name-font-size);
	}

	&__value {
		white-space: nowrap;
		font-size: var(--value-font-size);
		font-weight: var(--font-weight-xxl);
		text-transform: uppercase;
	}

	@include mediaScreenLaptop {
		--name-font-size: var(--font-size-01);
	}

	@include mediaScreenTablet {
		--value-font-size: var(--font-size-03);
	}
}
