@import "../utils/mixins";

.about {
	padding: 24px 0;

	&__body {
		display: grid;
		row-gap: 32px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			"title map"
			"content map"
			"badges map"
			". map";

		@include mediaScreenXXL {
			grid-template-areas:
				"title title"
				"content map"
				"badges map"
				". map";
		}

		@include mediaScreenLG {
			grid-template-columns: 1fr 1.3fr;
		}

		@include mediaScreenM {
			grid-template-columns: 1fr 2fr;
			grid-template-areas:
				"title map"
				"content map"
				"badges map"
				". map";
		}
	}

	&__title {
		grid-area: title;
	}

	&__content {
		grid-area: content;

		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 24px;

		p {
			color: var(--black);
			font-size: var(--font-size-s);
			line-height: 26px;
		}

		&--rows {
			flex-direction: row;
		}
	}

	&__badges {
		grid-area: badges;

		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	&__map {
		grid-area: map;

		@include aspect-ratio(915, 1200);
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.badge {
	color: var(--black);

	&__value {
		font-size: var(--font-size-xl);
		font-weight: var(--font-weight-xxl);

		@include mediaScreenLG {
			font-size: var(--font-size-lg);
		}

		@include mediaScreenM {
			font-size: var(--font-size-m);
		}
	}

	&__name {
		font-size: var(--font-size-m);
	}
}