@import "../utils/mixins";

.efficiency {
	&__top {
		padding: 40px 0;
		background-color: var(--black);
	}

	&__top-body {
		color: var(--red);
		font-size: var(--font-size-03);
		font-weight: var(--font-weight-xxl);

		display: flex;
		flex-direction: column;
		gap: 102px;

		@include mediaScreenM {
			gap: 48px;
		}

		@include mediaScreenS {
			font-size: var(--font-size-02);
		}

		@include mediaScreenXS {
			gap: 24px;
		}
	}

	&__bottom-body {
		padding: 62px 0;
		display: flex;
		align-items: flex-end;
		gap: 24px;

		@include mediaScreenXS {
			flex-direction: column-reverse;
			align-items: stretch;
			padding: 24px 0;
		}
	}

	&__benefits {
		flex: 1 1 0;
	}

	&__banner {
		margin-top: -120px;
		width: 600px;

		@include mediaScreenM {
			margin-top: 54px;
			width: 500px;
		}

		@include mediaScreenS {
			width: 400px;
			margin-top: 32px;
		}

		@include mediaScreenXS {
			width: 100%;
			margin-top: 0;
		}
	}
}

.benefits {
	display: flex;
	gap: 24px;
	align-items: flex-end;
	flex-wrap: wrap;

	&__list {
		flex: 1 1 0;

		display: flex;
		flex-direction: column;
		gap: 47px;

		@include mediaScreenXS {
			gap: 24px;
		}
	}

	&__action {
		flex: 1 1 0;

		display: none;
		max-width: min-content;

		@include mediaScreenXS {
			display: block;
		}

		@include mediaScreenXXS {
			max-width: 100%;
		}
	}
}

.benefit {
	&__text {
		max-width: 460px;
		color: var(--black);
		text-transform: uppercase;
		font-size: var(--font-size-03);
		font-weight: var(--font-weight-xxxl);

		padding-left: 34px;
		position: relative;

		&:after {
			content: '';

			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);

			display: block;
			width: 5px;
			height: 100%;
			background-color: var(--red);
		}

		@include mediaScreenS {
			font-size: var(--font-size-02);
			padding-left: 16px;
			max-width: 400px;
		}

		@include mediaScreenXXS {
			font-size: var(--font-size);
			padding-left: 16px;
		}
	}
}

.banner {
	display: flex;
	flex-direction: column;
	gap: 24px;

	position: relative;

	&__cover {
		@include aspect-ratio(820, 678);

		background-size: cover;
		background-repeat: no-repeat;
	}

	&__action {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-70%);

		&:hover {
			top: -8px;
			right: -8px;
		}

		@include mediaScreenXS {
			display: none;
		}
	}
}