@import "../utils/mixins";

.efficiency {
	&__top {
		padding: 40px 0;
		background-color: var(--black);
	}

	&__top-body {
		color: var(--red);
		font-size: var(--font-size-lg);
		font-weight: var(--font-weight-xxl);

		display: flex;
		flex-direction: column;
		gap: 63px;
	}

	&__bottom-body {
		padding: 75px 0;
		display: flex;
		align-items: flex-end;
		gap: 24px;

		@include mediaScreenXL {
			align-items: flex-start;
		}
	}

	&__benefits {
		flex: 1 1 0;

		display: flex;
		flex-direction: column;
		gap: 47px;
	}

	&__banner {
		margin-top: -160px;
		flex: 1.2 1 0;

		@include mediaScreenXL {
			margin-top: 0;
		}
	}
}

.benefit {
	&__text {
		color: var(--black);
		text-transform: uppercase;
		font-size: var(--font-size-lg);
		font-weight: var(--font-weight-xxxl);

		padding-left: 60px;
		position: relative;

		&:after {
			content: '';

			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);

			display: block;
			width: 6px;
			height: 100%;
			background-color: var(--red);
		}
	}
}

.banner {
	display: flex;
	flex-direction: column;
	gap: 24px;

	position: relative;

	&__cover {
		@include aspect-ratio(820, 678);

		background-size: cover;
		background-repeat: no-repeat;
	}

	&__action-xl {
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-70%);

		&:hover {
			top: -8px;
			right: -8px;
		}

		@include mediaScreenXL {
			display: none;
		}
	}
	&__action-m {
		display: none;

		@include mediaScreenXL {
			display: block;
		}
	}
}