@import "../utils/mixins";

.footer {
	padding-top: 62px;
	padding-bottom: 62px;

	display: grid;
	grid-template-areas:
			"logo map"
			"contacts map"
			"files map"
			"basement map";
	grid-template-columns: 1fr 1.1fr;
	gap: 32px;

	@include mediaScreenLaptop {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	@include mediaScreenWideLaptop {
		grid-template-areas:
				"logo ."
				"contacts map"
				"files map"
				"basement basement";
	}

	@include mediaScreenWideTablet {
		gap: 26px;
		grid-template-columns: 1fr;
		grid-template-areas:
				"logo"
				"map"
				"contacts"
				"files"
				"basement";
	}

	&__logo {
		grid-area: logo;

		width: 345px;
		height: 60px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		@include mediaScreenWidePhone {
			width: 192px;
			height: 33px;
		}
	}

	&__contacts {
		grid-area: contacts;
	}

	&__files {
		grid-area: files;
	}

	&__basement {
		grid-area: basement;

		line-height: 1.2;
		color: var(--gray);
		font-size: var(--font-size-01);

		@include mediaScreenWidePhone {
			font-size: var(--font-size);
		}
	}

	&__map {
		grid-area: map;

		border-radius: 8px;
		overflow: hidden;

		filter: grayscale(100%);

		cursor: pointer;
		transition: .3s;

		iframe {
			width: 100%;
			height: 100%;
		}

		&:hover {
			filter: grayscale(0);
		}

		@include mediaScreenWideTablet {
			height: 400px;
		}

		@include mediaScreenWidePhone {
			height: 300px;
		}
	}
}

.contacts {
	display: flex;
	gap: 40px;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 40px;

		& + & {
			margin-left: auto;

			@include mediaScreenPhone {
				margin-left: 0;
			}
		}

		@include mediaScreenWidePhone {
			gap: 16px;
		}
	}

	@include mediaScreenWidePhone {
		gap: 24px;
	}

	@include mediaScreenPhone {
		flex-direction: column;
	}
}

.contact {
	line-height: 1.2;
	color: var(--black);
	font-size: var(--font-size-01);

	max-width: 328px;

	&__name {
		font-weight: var(--font-weight-xxl);
	}

	&__value {
		text-decoration: none;
		color: inherit;

		transition: .1s;

		&:hover {
			opacity: .7;
		}
	}

	@include mediaScreenWidePhone {
		font-size: var(--font-size);
	}
}

.files {
	&__link {
		& + & {
			margin-top: 16px;
		}
	}

	&__link a {
		color: var(--black);
		text-decoration: none;
		font-size: var(--font-size-01);

		@include mediaScreenWidePhone {
			font-size: var(--font-size);
		}

		transition: .1s;

		&:hover {
			opacity: .7;
		}
	}
}