@import "../utils/mixins";

.footer {
	&__body {
		padding: 62px 0;

		display: grid;
		grid-template-areas:
			"logo map"
			"contacts map"
			"basement map";
		grid-template-columns: 1fr 1.1fr;
		gap: 32px;

		@include mediaScreenM {
			grid-template-areas:
				"logo ."
				"contacts map"
				"basement basement";
			grid-template-columns: 1fr 1.3fr;
		}

		@include mediaScreenS {
			grid-template-columns: 1fr;
			grid-template-areas:
				"logo"
				"map"
				"contacts"
				"basement";
		}

		@include mediaScreenM {
			padding: 32px 0;
		}
	}

	&__logo {
		grid-area: logo;

		width: 400px;
		height: 69px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		@include mediaScreenS {
			width: 280px;
			height: 48px;
		}
	}

	&__contacts {
		grid-area: contacts;
	}

	&__basement {
		grid-area: basement;

		line-height: 1.2;
		color: var(--gray);
		font-size: var(--font-size-01);

		@include mediaScreenXS {
			font-size: var(--font-size);
		}
	}

	&__map {
		grid-area: map;

		border-radius: 8px;

		filter: grayscale(100%);

		cursor: pointer;
		transition: .3s;

		&:hover {
			filter: grayscale(0);
		}

		@include mediaScreenS {
			@include aspect-ratio(16, 9);
		}

		@include mediaScreenXS {
			@include aspect-ratio(12, 9);
		}
	}
}

.contacts {
	display: flex;
	gap: 40px;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 40px;

		@include mediaScreenXS {
			gap: 24px
		}
	}

	@include mediaScreenXS {
		gap: 32px
	}
}

.contact {
	line-height: 1.2;
	color: var(--black);
	font-size: var(--font-size-01);

	max-width: 328px;

	&__name {
		font-weight: var(--font-weight-xxl);
	}

	&__value {
		text-decoration: none;
		color: inherit;

		transition: .1s;

		&:hover {
			opacity: .7;
		}
	}

	@include mediaScreenXS {
		font-size: var(--font-size);
	}
}