@import "../utils/mixins";

.projects {
	&__body {
		display: flex;
		flex-direction: column;
		gap: 60px;
		padding: 62px 0;

		@include mediaScreenM {
			padding: 32px 0;
		}

		@include mediaScreenS {
			gap: 48px;
		}

		@include mediaScreenXS {
			gap: 26px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__project {}
}

.project {
	display: flex;
	align-items: flex-start;
	column-gap: 40px;

 	@include mediaScreenS {
		display: block;
		align-items: unset;
	}

	&__cover {
		flex: 1 1 0;
		min-width: 369px;

		@include mediaScreenS {
			min-width: 0;
			max-width: 100%;
			margin-bottom: 24px;
		}
	}

	&__img {
		border-radius: 26px;
		background-size: cover;
		background-repeat: no-repeat;
		@include aspect-ratio(593, 353);

		@include mediaScreenXS {
			border-radius: 16px;
		}
	}

	&__body {
		flex: 1.5 1 0;

		display: flex;
		flex-direction: column;
		gap: 16px;

		@include mediaScreenS {
			padding: 0 16px;
		}

		@include mediaScreenXS {
			gap: 14px;
			padding: 0 8px;
		}
	}

	&__name {
		color: var(--black);
		font-size: var(--font-size-05);
		font-weight: var(--font-weight-xxxl);

		@include mediaScreenM {
			font-size: var(--font-size-04);
		}

		@include mediaScreenXS {
			font-size: var(--font-size-02);
		}
	}

	&__description {
		color: var(--black);
		line-height: 1.1;
		font-size: var(--font-size-03);

		@include mediaScreenM {
			font-size: var(--font-size-02);
		}

		@include mediaScreenXS {
			font-size: var(--font-size-01);
		}
	}
}