@import "../utils/mixins";

.projects {
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding-top: 62px;
	padding-bottom: 62px;

	@include mediaScreenLaptop {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	@include mediaScreenWideTablet {
		gap: 26px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 40px;

		@include mediaScreenWideTablet {
			gap: 32px;
		}
	}
}

.project {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 16px;

	&__cover {
		flex: 1 1 0;
		min-width: 280px;
	}

	&__img {
		border-radius: 26px;
		background-size: cover;
		background-repeat: no-repeat;
		@include aspect-ratio(593, 353);

		@include mediaScreenWideTablet {
			border-radius: 16px;
		}
	}

	&__body {
		flex: 1.5 1 0;
		min-width: 280px;

		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 0 8px;

		@include mediaScreenWideTablet {
			gap: 8px;
		}
	}

	&__name {
		color: var(--black);
		font-size: var(--font-size-03);
		font-weight: var(--font-weight-xxl);

		@include mediaScreenWideTablet {
			font-size: var(--font-size-02);
		}
	}

	&__description {
		line-height: 1.1;
		color: var(--black);
		font-size: var(--font-size-02);

		@include mediaScreenWideTablet {
			font-size: var(--font-size);
		}
	}

	@include mediaScreenWideTablet {
		column-gap: 8px;
	}
}