@import "../utils/mixins";

.school {
	background-color: var(--black-01);
	position: relative;

	&__body {
		padding-top: 54px;
	}

	&__content {
		padding-right: 35vw;
	}

	&__text {
		margin-bottom: 48px;

		color: var(--white);
		line-height: 1.2;
		font-size: var(--font-size-02);

		p + p {
			margin-top: 32px;
		}
	}

	&__content {
		display: flex;
	}

	&__description {
		padding: 54px 0;
		align-self: center;
		flex: 1 1 0;
	}

	&__image {
		position: absolute;
		right: 0;
		bottom: 0;

		background-size: cover;
		background-repeat: no-repeat;
	}
}