.contact-radio {
	background-color: var(--red);

	&__body {
		padding: 16px 0;

		display: flex;
		align-items: center;
		gap: 22px
	}

	&__soc-networks {

	}

	&__tel {
		color: #fff;
		font-size: var(--font-size-xs);
		text-decoration: none;
		line-height: 1;
	}

	&__radio {
		margin-left: auto;
	}
}

.soc-networks {
	display: flex;
	gap: 16px;
	align-items: center;

	&__item {
		--size: 42px;

		width: var(--size);
		height: var(--size);

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.radio {
	display: flex;
	align-items: center;
	gap: 23px;

	cursor: pointer;

	&__ctrl {
		display: flex;
		align-items: center;
		gap: 18px;
	}

	&__play,
	&__pause {
		height: 30px;

		img {
			width: auto;
			height: 100%;

			object-fit: contain;
		}
	}

	&__text {
		color: #fff;
		font-size: var(--font-size-xs);
		font-weight: var(--font-weight-xl);
	}
}