@import "../../utils/mixins";

.contact-radio {
	--content-gap: 22px;
	--tel-font-size: var(--font-size-01);

	background-color: var(--red);

	&__body {
		padding-top: 16px;
		padding-bottom: 16px;

		display: flex;
		align-items: center;
		gap: var(--content-gap);
	}

	&__tel {
		color: #fff;
		line-height: 1;
		text-decoration: none;
		font-size: var(--tel-font-size);

		position: relative;

		&:after {
			content: '';

			position: absolute;
			bottom: -4px;
			left: 0;

			width: 0;
			height: 2px;
			background-color: var(--white);

			transition: .2s;
		}

		&:hover {
			&:after {
				width: 100%;
			}
		}
	}

	&__radio {
		margin-left: auto;
	}

	@include mediaScreenLaptop {
		--content-gap: 16px;
		--tel-font-size: var(--font-size);
	}
}

.soc-networks {
	--icon-size: 42px;
	--content-gap: 16px;

	display: flex;
	align-items: center;
	gap: var(--content-gap);

	&__item {
		--size: 42px;

		width: var(--icon-size);
		height: var(--icon-size);

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		cursor: pointer;
		transition: .2s;

		&:hover {
			transform: scale(1.05);
		}
	}

	@include mediaScreenLaptop {
		--content-gap: 16px;
		--icon-size: 32px;
	}
}

.radio {
	--icon-size: 30px;
	--text-display: block;
	--text-font-size: var(--font-size-01);

	display: flex;
	align-items: center;
	gap: 8px;

	transition: .3s;
	cursor: pointer;
	user-select: none;

	&:hover {
		opacity: .5;
	}

	&__ctrl {
		display: flex;
		align-items: center;
		gap: 18px;
	}

	&__play,
	&__pause {
		width: var(--icon-size);
		height: var(--icon-size);

		img {
			width: 100%;
			height: 100%;

			object-fit: contain;
			object-position: center right;
		}
	}

	&__pause {
		display: none;
	}

	&__text {
		color: #fff;
		display: var(--text-display);
		font-size: var(--text-font-size);
		font-weight: var(--font-weight-xl);
	}

	@include mediaScreenLaptop {
		--icon-size: 24px;
		--text-font-size: var(--font-size);
	}

	@include mediaScreenWidePhone {
		--text-display: none;
	}
}


.radio.radio--active .radio__play {
	display: none;
}

.radio.radio--active .radio__pause {
	display: block;
}