@import "../../utils/mixins";

.contact-radio {
	background-color: var(--red);

	&__body {
		padding: 16px 0;

		display: flex;
		align-items: center;
		gap: 22px;

		@include mediaScreenS {
			gap: 16px;
		}
	}

	&__tel {
		color: #fff;
		font-size: var(--font-size);
		text-decoration: none;
		line-height: 1;

		position: relative;

		&:after {
			content: '';

			position: absolute;
			bottom: -4px;
			left: 0;

			width: 0;
			height: 2px;
			background-color: var(--white);

			transition: .2s;
		}

		&:hover {
			&:after {
				width: 100%;
			}
		}

		@include mediaScreenS {
			font-size: var(--font-size);
		}
	}

	&__radio {
		margin-left: auto;
	}
}

.soc-networks {
	display: flex;
	gap: 16px;
	align-items: center;

	&__item {
		--size: 42px;

		width: var(--size);
		height: var(--size);

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		cursor: pointer;
		transition: .2s;

		&:hover {
			transform: scale(1.05);
		}

		@include mediaScreenS {
			--size: 32px;
		}
	}

	@include mediaScreenS {
		gap: 16px;
	}
}

.radio {
	display: flex;
	align-items: center;
	gap: 8px;
	user-select: none;

	cursor: pointer;
	transition: .3s;

	&:hover {
		opacity: .5;
	}

	&__ctrl {
		display: flex;
		align-items: center;
		gap: 18px;
	}

	&__play,
	&__pause {
		height: 30px;

		img {
			width: auto;
			height: 100%;

			object-fit: contain;
		}

		@include mediaScreenS {
			height: 24px;
		}
	}

	&__pause {
		display: none;
	}

	&__text {
		color: #fff;
		font-size: var(--font-size);
		font-weight: var(--font-weight-xl);

		@include mediaScreenS {
			font-size: var(--font-size);
		}

		@include mediaScreenXXS {
			display: none;
		}
	}
}


.radio.radio--active .radio__play {
	display: none;
}

.radio.radio--active .radio__pause {
	display: block;
}