@import "../../utils/mixins";

.header-nav {
	--top-indent: 30px;
	--bottom-indent: 30px;

	&__body {
		padding-top: var(--top-indent);
		padding-bottom: var(--bottom-indent);

		display: flex;
		align-items: center;
		gap: 32px;
	}

	&__nav {
		flex: 1 1 0;

		@include mediaScreenLG {
			flex: 0 1 auto;
			margin-left: auto;
		}

		@include mediaScreenS {
			display: none;
		}
	}

	&__action {
		@include mediaScreenLG {
			display: none;
		}
	}

	&__burger {
		display: none !important;
		margin-left: auto;

		@include mediaScreenS {
			display: flex !important;
		}
	}

	@include mediaScreenXXL {
		--top-indent: 24px;
		--bottom-indent: 40px;
	}

	@include mediaScreenM {
		--top-indent: 16px;
	}

	@include mediaScreenXXS {
		--bottom-indent: 32px;
	}
}

.logo {
	--logo-width: 230px;
	--wave-font-size: var(--font-size-01);

	display: flex;
	align-items: center;
	gap: 16px;

	position: relative;

	&__img {
		width: var(--logo-width);
		height: calc(var(--logo-width) * 0.17);

		img {
			width: 100%;
			height: 100%;

			object-fit: contain;
		}
	}

	&__wave {
		color: var(--red);
		font-size: var(--wave-font-size);
		font-weight: var(--font-weight-xl);

		@include mediaScreenXXL {
			position: absolute;
			top: calc(100% + 8px);
			left: 0;
		}
	}

	@include mediaScreenM {
		--logo-width: 200px;
	}

	@include mediaScreenXXS {
		--logo-width: 150px;
		--wave-font-size: var(--font-size);
	}
}

.nav {
	--content-gap: 32px;
	--link--font-size: var(--font-size-01);

	&__link-list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: var(--content-gap);
	}


	&__item a {
		color: var(--black);
		white-space: nowrap;
		text-decoration: none;
		font-size: var(--link--font-size);
		font-weight: var(--font-weight-lg);

		position: relative;

		&:after {
			content: '';

			position: absolute;
			bottom: -4px;
			left: 0;

			width: 0;
			height: 2px;
			background-color: var(--red);

			transition: .2s;
		}

		&:hover {
			&:after {
				width: 100%;
			}
		}
	}

	@include mediaScreenM {
		--link--font-size: var(--font-size);
	}

	@include mediaScreenXXL {
		--content-gap: 16px;
	}
}

.burger {
	display: flex;
	flex-direction: column;
	gap: 4px;

	width: 33px;

	cursor: pointer;

	&__bar {
		width: 100%;
		flex: 0 0 4px;

		border-radius: 5px;
		background-color: var(--gray-01);
	}
}