{% load django_vite %}
{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{% vite_hmr_client %}
	{% vite_asset 'scripts/main.ts' %}

	<link rel="stylesheet" href="{% vite_asset_url 'styles/style.scss' %}">
	<link rel="shortcut icon" href="{% static 'icons/general/favicon.png' %}" type="image/png" />

	<meta property="og:type" content="{{ seo.ogType }}">
	<meta property="og:title" content="{{ seo.ogTitle }}">
	<meta property="og:url" content="{{ seo.ogUrl }}">
	<meta property="og:image" content="{{ seo.ogImage.url }}">
	<meta property="og:description" content="{{ seo.ogDescription }}">

	{{ metrika.script|safe }}

	<title>Мария ФМ | Радио нашего города</title>
</head>
<body class="body">
<div class="wrapper" id="wrapper">
	{% block content %}{% endblock %}
</div>
</body>
</html>