{% load django_vite %}

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% vite_hmr_client %}
    {% vite_asset 'scripts/main.ts' %}

    <link rel="stylesheet" href="{% vite_asset_url 'styles/style.scss' %}">
    <link rel="shortcut icon" href="{% vite_asset_url 'icons/general/favicon.png' %}" type="image/png" />

    <title>Мария ФМ | Радио нашего города</title>
</head>
<body>
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>
</body>
</html>