{% extends 'landing/base.html' %}

{% block content %}
	<header>
		{% include './partials/header/contact-radio.html' %}
		{% include './partials/header/header-nav.html' %}
	</header>

	{% include './partials/shows.html' %}
	{% include './partials/about.html' %}
	{% include './partials/efficiency.html' %}
	{% include './partials/team.html' %}
	{% include './partials/school.html' %}
	{% include './partials/projects.html' %}
	{% include './partials/footer.html' %}

	{% include './partials/floating-button.html' %}
	{% include './partials/header/mobile-menu.html' %}
{% endblock %}
