@import url('../fonts/style.css');

@import "general/main";

html {
	scroll-behavior: smooth;
}

.wrapper {
	font-family: var(--main-font-family);

	min-height: 100vh;
	position: relative;
}

@import "sections/main";