@import url('../fonts/style.css');

@import "general/main";

html {
	scroll-behavior: smooth;
}

.wrapper {
	font-family: var(--font-family);
	position: relative;

	opacity: 0;
	transition: .05s opacity ease-in-out;

	&--visible {
		opacity: 1;
	}
}

@import "sections/main";