vnkot.ru {
    reverse_proxy web:4000

    handle_path /media/* {
        file_server {
            root /app/media
        }
    }

    handle_path /files/* {
        file_server {
            root /app/files
        }
    }
}