@mixin mediaScreenUltraWide() {
	@media (min-width: 1864px) {
		@content
	}
}

@mixin mediaScreenWideDesktop() {
	@media (max-width: 1512px) {
		@content
	}
}

@mixin mediaScreenDesktop() {
	@media (max-width: 1440px) {
		@content
	}
}

@mixin mediaScreenWideLaptop() {
	@media (max-width: 1296px) {
		@content
	}
}

@mixin mediaScreenLaptop() {
	@media (max-width: 1200px) {
		@content
	}
}

@mixin mediaScreenWideTablet() {
	@media (max-width: 900px) {
		@content
	}
}

@mixin mediaScreenTablet() {
	@media (max-width: 664px) {
		@content
	}
}

@mixin mediaScreenWidePhone() {
	@media (max-width: 526px) {
		@content
	}
}

@mixin mediaScreenPhone() {
	@media (max-width: 386px) {
		@content
	}
}

/*
Про реализацию aspect-ratio через padding
https://css-tricks.com/aspect-ratio-boxes/
*/
@mixin aspect-ratio($width, $height) {
	height: 0;
	overflow: hidden;
	padding-top: calc(($height / $width) * 100%);
}