@mixin mediaScreenXXL() {
	@media (max-width: 1512px) {
		@content
	}
}

@mixin mediaScreenXL() {
	@media (max-width: 1440px) {
		@content
	}
}

@mixin mediaScreenLG() {
	@media (max-width: 1296px) {
		@content
	}
}

@mixin mediaScreenM() {
	@media (max-width: 1200px) {
		@content
	}
}

@mixin mediaScreenS() {
	@media (max-width: 834px) {
		@content
	}
}

@mixin mediaScreenXS() {
	@media (max-width: 428px) {
		@content
	}
}

/*
Про реализацию aspect-ratio через padding
https://css-tricks.com/aspect-ratio-boxes/
*/
@mixin aspect-ratio($width, $height) {
	height: 0;
	overflow: hidden;
	padding-top: calc(($height / $width) * 100%);
}