{% load django_vite %}
{% load static %}

<section class="contact-radio">
	<div class="contact-radio__body container-header">
		<ul class="soc-networks">
			<li class="soc-networks__item" title="Написать в Whatsapp">
				<a href="{{ contactRadio.whatsappUrl }}">
					<img src="{% static 'icons/soc-network/whatsapp.png' %}" />
				</a>
			</li>

			<li class="soc-networks__item" title="Написать в Telegram">
				<a href="{{ contactRadio.telegramUrl }}">
					<img src="{% static 'icons/soc-network/telegram.png' %}" />
				</a>
			</li>
		</ul>

		<a href="tel:+{{ contactRadio.phoneNumber }}" class="contact-radio__tel" title="Позвонить по номеру телефона">
			{{ contactRadio.displayedPhoneNumber }}
		</a>

		<div class="contact-radio__radio radio" id="radio">
			<audio src="{{ contactRadio.radioSrc }}"></audio>

			<div class="radio__ctrl">
				<div class="radio__play">
					<img src="{% static 'icons/player/play.png' %}" />
				</div>
				<div class="radio__pause">
					<img src="{% static 'icons/player/pause.png' %}" />
				</div>
			</div>

			<p class="radio__text">Слушать онлайн</p>
		</div>
	</div>
</section>