{% load django_vite %}
{% load static %}

<section class="contact-radio">
    <div class="container-header">
        <div class="contact-radio__body">
            <ul class="contact-radio__soc-networks soc-networks">
                <li class="soc-networks__item" title="Написать в Whatsapp">
                    <a href="https://wa.me/79128271029">
                        <img src="{% static 'icons/soc-network/whatsapp.png' %}"/>
                    </a>
                </li>

                <li class="soc-networks__item" title="Написать в Telegram">
                    <a href="https://t.me/+79128271029">
                        <img src="{% static 'icons/soc-network/telegram.png' %}"/>
                    </a>
                </li>
            </ul>

            <a href="tel:+79128271029" class="contact-radio__tel" title="Позвонить по номеру телефона">
                +7 912 827 10 29
            </a>

            <div class="contact-radio__radio radio" id="radio">
                <audio src="https://online.mariafm.ru:8443/MariaFM"></audio>
                
                <div class="radio__ctrl">
                    <div class="radio__play">
                        <img src="{% static 'icons/player/play.png' %}"/>
                    </div>
                    <div class="radio__pause">
                        <img src="{% static 'icons/player/pause.png' %}"/>
                    </div>
                </div>
                
                <p class="radio__text">Слушать онлайн</p>
            </div>
        </div>
    </div>
</section>