{% load django_vite %}
{% load static %}

<section class="header-nav">
	<div class="header-nav__body container-header">
		<div class="header-nav__logo logo">
			<div class="logo__img">
				<img src="{% static 'icons/general/logo.svg' %}" />
			</div>

			<p class="logo__wave">102.9 FM</p>
		</div>

		<nav class="header-nav__nav nav">
			<ul class="nav__link-list">
				{% for navLink in navLinks %}
					<li class="nav__item">
						<a href="{{ navLink.url }}">{{ navLink.caption }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>

		<a
			target="_blank"
			href="https://t.me/+79128271029"
			class="header-nav__action btn btn--s"
		>
			Закажи рекламу
		</a>

		<div class="header-nav__burger burger" id="menu-open">
			<div class="burger__bar"></div>
			<div class="burger__bar"></div>
			<div class="burger__bar"></div>
		</div>
	</div>
</section>