{% load django_vite %}

<section class="header-nav">
    <div class="container-header">
        <div class="header-nav__body" id="header">
            <div class="header-nav__left">
                <div class="logo">
                    <img src="{% vite_asset_url 'icons/general/logo.svg' %}"/>
                </div>

                <p class="header-nav__radio-wave">102.9 FM</p>
            </div>

            <nav class="header-nav__middle nav">
                <ul class="nav__links">
                    <li class="nav__item">
                        <a href="#shows" class="nav__link">Новости</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">О радио</a>
                    </li>
                    <li class="nav__item">
                        <a href="#team" class="nav__link">Команда</a>
                    </li>
                    <li class="nav__item">
                        <a href="#school" class="nav__link">Школа медиа</a>
                    </li>
                    <li class="nav__item">
                        <a href="#projects" class="nav__link">Проекты</a>
                    </li>
                    <li class="nav__item">
                        <a href="#footer" class="nav__link">Контакты</a>
                    </li>
                </ul>
            </nav>

            <div class="header-nav__right">
                <a class="btn btn--s" href="https://t.me/+79128271029" target="_blank">Закажи рекламу</a>
            </div>

            <div class="header-nav__burger burger">
                <div class="burger__bar"></div>
                <div class="burger__bar"></div>
                <div class="burger__bar"></div>
            </div>
        </div>
    </div>
</section>